@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    #6 Apartment 6-A Los Angeles Street<br />
    Barangay Immaculate Concepcion, Cubao<br />
    Quezon City, PH 1111<br />
    <abbr title="Phone">M:</abbr>
    09488299292
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:jaravata.romulojr@gmail.com">jaravata.romulojr@gmail.com</a><br />
</address>
